.transactionContainer {
	display: flex;
	width: max-content;
	height: 85vh;
	overflow: hidden;
	margin: 1em !important;
}
.transactions {
	overflow: scroll;
	margin: 0 !important;
	overflow-x: hidden;
}
.transactions::-webkit-scrollbar {
	width: 0 !important;
}
